.rx_drivelink_preview_image_container {
                display: inline-flex;
                gap: 10px;
}

.rx_drivelink_preview_image_container > div {
                min-width: 250px;
}

.rx_drivelink_preview_image {
                max-width: 100%;
}






@media print {
                .rx_drivelink_preview_image_container {
                                display: grid;
                                grid-template-columns: repeat(5, 1fr);
                }
                                
                .rx_drivelink_preview_image_container > div {
                                min-width: unset !important;
                }
}
